html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: #354341;
	background: #fff;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Verdana, Meiryo, sans-serif;
    font-feature-settings: "palt";
	letter-spacing: .8px;
	font-size: 16px;
	font-weight: 700;
}
a {
	text-decoration: none;
	color: #354341;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 100px 80px;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.shadow-box {
	box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
}

.gray {
	background: #F8F9F9;
}
main {
	padding-top: 72px;
}
.round-bg {
	display: inline-block;
	background: #354341;
	color: #fff;
	font-size: 18px;
	padding: 8px 120px;
	border-radius: 40px;
}

/** scroll **/

.scroll {
	position: fixed;
	width: 80px;
	z-index: 1000;
    top: 45vh;
    left: 40px;
}
.scroll img {
	text-align: center;
}

/** header **/

header {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	background: #fff;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}
nav {
	max-width: 1320px;
	margin: 0 auto;
	padding: 16px 80px;
	justify-content: space-between;
}
nav li {
	padding-left: 40px;
}
nav li a {
	font-size: 14px;
	font-weight: 300;
	display: inline-block;
	padding: 10px 16px;
	border-radius: 4px;
}
nav li a:hover {
	background: rgba(20, 53, 60, 0.05);
}

/** btn **/

.btn {
	border: 2px solid #E44C6F;
	cursor:pointer;
	display: inline-block;
	transition:200ms ease all;
	background: #E44C6F;
	color: #fff;
	border-radius: 4px;
}
.btn:hover {
	opacity: 0.85;
	box-shadow: none;
}
.btn-head {
	margin-left: 40px;
	font-size: 14px;
	padding: 8px 22px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.btn-top {
	padding: 12px 56px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

/** Typo **/

h1 {
	font-size: 64px;
	line-height: 130%;
	text-align: center;
}
h2 {
	font-size: 40px;
	line-height: 140%;
}
.top h2 {
	font-size: 48px;
	text-align: center;
}
.solution h2 {
	font-size: 36px;
}
.top h2 span {
	font-size: 24px;
}
.enter-top h2 {
	font-size: 18px;
}
h3 {
	font-size: 40px;
	line-height: 140%;
}
.solution-list h3 {
	font-size: 16px;
}
h4 {
	font-size: 24px;
	line-height: 140%;
}







/** top **/

.top {
	max-width: 1320px;
	margin: 0 auto;
}
.smb-top {
	text-align: center;
}
.smb-top .cover {
	width: 100%;
}


/** solution **/
.solution {
	text-align: center;
}
.solution-list li div {
	width: 240px;
}


/** service **/


.service .num {
	font-weight: 100;
	font-size: 72px;
}




/**
.row {
	display: flex;
	flex-wrap: wrap;
}
.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 24px;
	padding-top: 60px;
	margin-top:-60px;
}
.thin {
	font-weight: 100;
}
.letterspace1 {
	margin-left: -0.5em;
}
.letterspace2 {
	margin-left: -1em;
}
.single-heading {
	text-align: center;
	padding-bottom: 60px;
}
.single-heading h3 {
	font-weight: 600; 
	font-size: 40px;
	padding-top: 40px;
}
h4 {
	font-size: 18px;
}
.single-heading p {
	padding-top: 25px;
    line-height: 30px;
    font-weight: 100;
}
.header {


	background: linear-gradient(314.42deg, #FB4B38 6.38%, #F43F74 82.44%);
	transition: all 0.5s ease;
}
.hidden {
	width: 100%;
	background: none;
	transition: all 0.5s ease;
}
header .container {
	max-width: 1140px;
}
.header-left {
	float: left;
}
.header-left img {
	width: 100px;
	padding-top: 20px;
}
nav {
	float: right;
	line-height: 70px;
	font-size: 13px;
}
nav a.textLink {
	padding: 24px 12px;
	color: rgba(255,255,255,0.7);
}
nav a.textLink:hover {
	color: #fff;
	transition: all 0.3s ease 0s;
}
nav a.btn {
	color: #fff;
	font-size: 14px;
	margin-left: 24px;
	padding: 12px 24px;
	border: 1px solid #fff;
	border-radius: 30px;
}
nav a.btn:hover {
	color: #E9446A;
	background-color: #fff;
	transition: all 0.3s ease 0s;
}
#main {
	padding-top: 70px;
}
.main_wrapper{
	background: url(../images/banner_bg.png) no-repeat;
    background-position: 0;
    min-height: 800px;
    background-size: cover;
    width: auto;
    left: 0;
    right: 0;
    z-index: -1;
}
#main .row .heading {
	padding-top: 80px;
	flex: 0 0 60%;
    max-width: 60%;
	color: #fff;
}
#main .row .heading h1 {
	font-size: 40px;
	line-height: 64px;
	letter-spacing: .1em;
	color: #fff;
}
#main .row .heading h2 {
	letter-spacing: .2em;
	padding: .5em 0 2em 0;
	font-size: 16px;
    line-height: 30px;
}
#main .row .heading a.btn {
	color: #E9446A;
	font-size: 14px;
	font-weight: 600;
	padding: 16px 48px;
	background: #fff;
	border-radius: 30px;
}
#main .row .heading a.btn:hover {
	color: #fff;
	background: none;
	border: 1px solid #fff;
	transition: all 0.3s ease 0s;
}
#main .row .imgbox {
	flex: 0 0 40%;
	max-width: 100%;
    margin-left: -480px;
	position: relative;
}
#main .row .imgbox .bnr {
	position: absolute;
}
#main .row .imgbox .bnr img{
	width: 320%;
}
#about01, #feature, #choose, #voice, #price, #faq, #contact-form {
	padding-bottom: 80px;
}
#about01 h3, #about02 h3{
	font-size: 48px;
	line-height: 63px;
	margin-top: 48px;
}
#about01 .row, #about02 .row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -16px;
}
#about01 .row .heading, #about02 .row .heading {
	width: 50%;
	padding: 0 16px;
}
#about01 .row .heading p, #about02 .row .heading p {
	font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    padding-top: 25px;
}
#about01 .row .heading ul, #about02 .row .heading ul {
	display: flex;
	flex-wrap: wrap;
	margin-top: 48px;
}
#about01 .row .heading ul li, #about02 .row .heading ul li {
	width: 25%;
	text-align: center;
}
.circle {
	display: inline-block;
    width: 85px;
    height: 85px;
    background: #eee;
    text-align: center;
    line-height: 85px;
    border-radius: 100%;
    position: relative;
}
#about02 .circle {
    background: #fff;
}
.circle i:before{
	font-size: 40px;
    vertical-align: middle;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(260deg, #fe5e34 0%, #e235eb 100%);
}
#about01 .row .heading ul li h4, #about02 .row .heading ul li h4 {
	font-size: 14px;
	line-height: 1.5;
	padding-top: 12px;
	font-weight: 300;
	text-align: center;
}
#about01 .row .imgbox, #about02 .row .imgbox {
	width: 50%;
	padding: 0 16px;
}
#about01 .row .imgbox img, #about02 .row .imgbox img{
	width: 100%;
}
#about02 {
	padding-top: 80px;
    background: url(../images/inbox.png) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 720px;
    z-index: -1;
}
#about02 .about02 .imgbox img {
	width: 80%;
}
#feature ul {
	display: flex;
	flex-wrap: wrap;
	margin-left: -32px;
	margin-bottom: 80px;
}
#feature ul li {
	width: 25%;
	padding-left: 32px;
}
#feature ul li .shadow-box {
	border: none;
	box-shadow: 0 0 0 1px rgba(0,0,0,.02), 0 8px 16px 0 rgba(0,0,0,.1);
	margin-top: 20px;
	text-align: center;
	border-radius: 10px;
	padding-top: 48px;
	padding-bottom: 48px;
}
#feature ul li .icon i:before{
	font-size: 56px;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(260deg, #fe5e34 0%, #e235eb 100%);
}
#feature ul li h4 {
	padding-top: 1em;
	font-size: 18px;
    line-height: 22px;
}
#feature ul li p, #choose ul li p {
	padding-top: 1em;
    font-size: 14px;
    line-height: 1.5;
}
#choose, #price {
	background: linear-gradient(314.42deg, #FB4B38 6.38%, #F43F74 82.44%);
	color: #fff;
}
#choose h3 {
	color: #fff;
}
#choose ul {
	display: flex;
	flex-wrap: wrap;
	margin-left: -32px;
}
#choose ul li {
	width: 33.33%;
	padding-left: 32px;
	text-align: center;
}
#choose .icon {
	background: #fff;
    padding: 40px 16px;
	border-radius: 10px;
	display: inline-block;
}
#choose ul li .icon i {
	padding: 40px;   
}
#choose ul li .icon i:before{
	font-size: 80px;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	background-image: linear-gradient(260deg, #fe5e34 0%, #e235eb 100%);
    vertical-align: middle;
}
#choose .choose-list {
	padding: 0 16px;
}
#choose .choose-list h4 {
	padding: 16px 0;
}
#voice, #faq {
	padding-top: 40px;
	margin-bottom: 80px;
}
#voice .swiper-wrapper {
	height: 360px;
}
#voice .swiper-slide {
	padding: 8px 12px;	
}
#voice .customer {
	background: #fff;
	padding: 24px;
	border-radius: 10px;
    box-shadow: 0 3px 12px -6px rgba(0, 0, 0, 0.25882352941176473);
}
#voice .customer h4 {
	font-size: 15px;
    padding-top: 5px;
}
#voice .customer p {
	font-size: 13px;
    padding-top: 1em;
}
#voice .customer-name {
	text-align: center;
}
#voice img {
	margin: 16px 0;
	width: 70px;
	height: 70px;
	border-radius: 100%;
	display: inline-block;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #222;
}
.swiper-slide-next, .swiper-slide-prev {
	opacity: 0.6;
    transform: scale(0.92);
    transition: all 0.5s;
}
#price {
	text-align: center;
}
#price h3 {
	font-size: 32px;
}
#price .single-heading  {
	padding-bottom: 0;
}
#price h4 {
	padding: 0.3em 0 0 0.5em;
    color: #fff;
    font-family: "Rubik", Sans-serif;
    font-size: 72px;
    font-weight: 500;
}
#price h4 .price-yen {
	font-size: 56px;
    font-weight: 600;
    vertical-align: 0.08em;
}
#price h4 .price-month {
	padding-left: 0.5em;
    font-size: 24px;
    font-weight: 400;
    vertical-align: 0.08em;
}
#price .pricebox {
	margin: 0 auto;
    max-width: 560px;
}
#price .pricebox p {
	font-weight: 600;
	letter-spacing: 0.1em;
	text-align: left;
	padding-top: 25px;
    line-height: 30px;
}
#price .pricebox .pricebox-note {
	padding: 1em 0 4em 0;
    line-height: 1.5;
    font-size: 12px;
    font-weight: 400;
}
#price .pricebox a.btn {
	color: #E9446A;
	font-size: 14px;
	font-weight: 600;
	padding: 16px 48px;
	background: #fff;
	border-radius: 30px;
}
#price .pricebox a.btn:hover {
	color: #fff;
	background: none;
	border: 1px solid #fff;
	transition: all 0.3s ease 0s;
}
.accordion-container {
	width: 100%;
}
.accordion-container .panel {
	margin: 0 auto 20px auto;
    color: #222;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.03);
	border-bottom: none;
}
.accordion-container .panel .heading {
	font-size: 16px;
	color: #222;
	font-weight: 700;
}
.accordion-container .panel .content {
	background: #FAFAFA;
	font-size: 16px;
	color: #222;
}
.accordion-container .panel .content p:first-child {
	padding: 48px 16px;
} 
.accordion-container .panel .content p {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 300;
    color: #222;
    padding: 10px 0;
    margin: 0;
}
#faq .more {
	text-align: center;
}
#faq a.btn {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	padding: 16px 64px;
	background: linear-gradient(314.42deg, #FB4B38 6.38%, #F43F74 82.44%);
	border-radius: 30px;
}
#faq a.btn:hover {
	color: #E9446A;
	background: none;
	border: 1px solid #E9446A;
	transition: all 0.3s ease 0s;
}
#contact-form {
	background: #F8F9FA;
}
#contact-form .contact {
	margin: 0 auto;
	max-width: 560px;
}

#contact-form .mailto{
	text-decoration: underline;
}
#contact-form label{
	color: #10b3e9;
}
#contact-form input {
	margin-top: 0;
	height: 48px;
}
#contact-form .os_heading_wraper{
	padding-bottom: 40px;
}
#contact-form label{
	width: 100%;
	padding-top: 2em;
	text-align: center;
	font-size: 14px;
	color: #333;
}
.os_index6_form_main_wrapper {
    padding-bottom: 60px;
}
.os_index6_form_main_wrapper:after {
	background: url(../images/contact_shape.png) center repeat-x;
	width: 100%;
}
.os_index3_input_box_wrapper textarea {
    margin-top: 0;
}
.os_index6_form_main_wrapper:after {
    min-height: 1040px;
}
#contact-form .inputbtn{
	text-align: center;
	padding-top: 24px;
}
#contact-form .submit{
	color: #fff;
	background: linear-gradient(314.42deg, #FB4B38 6.38%, #F43F74 82.44%);
	border:1px solid #FB4B38;
	font-weight: 600;
	width: 60%;
	height: 56px;
	border-radius: 30px;
	letter-spacing:0.2em;
	text-align:center;
	text-indent:0.2em;
	-webkit-transition: all .5s;
  	transition: all .5s;
}
#contact-form .submit:hover{
	background: linear-gradient(314.42deg, rgb(255, 102, 85) 1%, rgb(255, 126, 165) 30%);
	cursor: pointer;	
	text-align:center;
  	-webkit-transition: all .3s;
  	transition: all .3s;
}
