/** base **/
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
*, ::after, ::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: #1a1a1a;
	background: #fff;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Verdana, Meiryo, sans-serif;
    font-feature-settings: "palt";
	letter-spacing: .8px;
	font-size: 16px;
}
p {
	line-height: 180%;
	text-align: justify;
}
a {
	text-decoration: none;
	color: #1a1a1a;
}
ul, li {
	list-style: none;
}
@media (max-width: 1000px) {
	body {
		font-size: 14px;
	}	
}
@media (max-width: 700px) {
	p {
		font-weight: normal;
		line-height: 160%;
	}
}

/** common **/
main {
	padding-top: 78px;
}
.container {
	max-width: 1024px;
	width: 85vw;
	margin: 0 auto;
	padding: 3rem 0;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}
.gray {
	background: #F5F7F8;
}
.line-3 {
	line-height: 1.3;
}
.line-4 {
	line-height: 1.4;
}
.line-8 {
	line-height: 1.8;
}
.patent {
	font-weight: 700;
	padding: 1.5rem 0 2.5rem 0;
}
.patent::before {
	content: url(../images/check-patent.svg);
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
	top: 4px;
	padding-right: 1.6rem;
	background-size: 100%;
}
.btn-top {
	transition:200ms ease all;
}
.btn-top a {
	display: inline-block;
	padding: 1rem 2.5rem;
	color: #fff;
	background: #E44C6F;
	border: 1px solid #E44C6F;
	border-radius: 4px;
	font-size: 0.8rem;
	font-weight: 700;
	transition:200ms ease all;
}
.btn-top a:hover {
	background: #fff;
	color: #E44C6F;
	border: 1px solid #E44C6F;
	transition:200ms ease all;
}
.btn-top a::after {
	content: url(../images/btn-arrow-white.svg);
	display: inline-block;
	width: 11px;
	height: 15px;
	position: relative;
	left: 1rem;
	transition:200ms ease all;
}
.btn-top a:hover::after {
	content: url(../images/btn-arrow-color.svg);
	display: inline-block;
	width: 11px;
	height: 15px;
	position: relative;
	left: 1.5rem;
	transition:200ms ease all;	
}
.switch-link a {
	margin-top: 1rem;
	display: inline-block;
	font-size: 0.75rem;
	text-decoration: underline;
}
.switch-link a:hover {
	text-decoration: none;
}
.introduction h2 {
	font-size: 1.5rem;
}
.heading {
	text-align: center;
	padding-bottom: 1.5rem;
}
.heading h2 {
	font-size: 2rem;
}
.heading p {
	text-align: center;
}
.btn-more-blk {
	text-align: center;
	transition:200ms ease all;
}
.btn-more-blk a {
	display: inline-block;
	padding: 1rem 2.5rem;
	color: #1a1a1a;
	border: 1px solid #1a1a1a;
	border-radius: 4px;
	font-size: 0.8rem;
	font-weight: 700;
	transition:200ms ease all;
}
.btn-more-blk a:hover {
	background: #1a1a1a;
	color: #fff;
	border: 1px solid #1a1a1a;
	transition:200ms ease all;
}
.btn-more-blk a::after {
	content: url(../images/btn-arrow-blk.svg);
	display: inline-block;
	width: 11px;
	height: 15px;
	position: relative;
	left: 1rem;
	transition:200ms ease all;
}
.btn-more-blk a:hover::after {
	content: url(../images/btn-arrow-white.svg);
	display: inline-block;
	width: 11px;
	height: 15px;
	position: relative;
	left: 1.5rem;
	transition:200ms ease all;	
}
.attention {
	color: #E44C6F;
}
@media (max-width: 1000px) {
	main {
		padding-top: 71px;
	}
	.introduction h2 {
		font-size: 1.2rem;
	}
	.patent {
		padding: 1rem 0 2rem 0;
	}
}
@media (max-width: 700px) {
	.container {
		width: calc(100% - 32px);
		padding: 2rem 0;
	}
	.introduction h2 {
		font-size: 1rem;
		padding: 0 1rem;
	}
	.introduction h2 br {
		display: none;
	}
	.patent {
		font-size: 0.8rem;
		padding: 0.5rem 0 1rem 0;
		text-align: center;
	}
	.patent::before {
		content: url(../images/check-patent.svg);
		display: inline-block;
		width: 14px;
		height: 14px;
		position: relative;
		top: 4px;
		padding-right: 1.6rem;
		background-size: 100%;
	}
	.btn-top a {
		padding: 0.7rem 2rem;
	}
	.btn-top a::after {
		left: 0.5rem;
	}
	.switch-link {
		text-align: center;
		margin-bottom: 1.5rem;
	}
	.heading h2 {
		font-size: 1.5rem;
	}
	.arrow {
		height: 32px;
	}
	.arrow img {
		height: 100%;
	}
	.btn-more-blk a {
		padding: 0.8rem 2rem;
		font-weight: 300;
	}
}

/** header **/
.header {
	display: flex;
	justify-content: space-between;
	background: #fff;
	padding: 20px;
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	align-items: center;
}
.header .logo {
	margin: 0 12px;
}
.header .logo img {
	height: 28px;
}
.nav-button {
	display: none;
}
.nav a.nav-link {
	font-size: 13px;
	position: relative;
	display: inline-block;
	text-decoration: none;
	padding: 8px;
	font-weight: 700;
}
.nav a.nav-link::after {
	position: absolute;
	bottom: -8px;
	left: 0;
	content: '';
	width: 100%;
	height: 2px;
	background: #333;
	transform: scale(0, 1);
	transform-origin: left top;
	transition: transform .2s;	
}
.nav a.nav-link:hover::after {
	transform: scale(1, 1);	
}
.nav li {
	display: inline-block;
}
.nav .btn-login {
	padding: 8px 22px;
	border: 1px solid #1a1a1a;
	cursor:pointer;
	display: inline-block;
	transition:200ms ease all;
	background: #fff;
	color: #1a1a1a;
	border-radius: 4px;
	font-size: 13px;
}
.nav .btn-login:hover {
	border: 1px solid #1a1a1a;
	background: #1a1a1a;
	color: #fff;
}
.nav .btn-head {
	padding: 8px 22px;
	border: 1px solid #E44C6F;
	cursor:pointer;
	display: inline-block;
	transition:200ms ease all;
	background: #E44C6F;
	color: #fff;
	border-radius: 4px;
	margin: 0 12px;
	font-size: 13px;
}
.nav .btn-head:hover {
	border: 1px solid #E44C6F;
	background: #fff;
	color: #E44C6F;
}
.nav .link-store {
	font-size: 12px;
	font-weight: 500;
	text-decoration: underline;
	margin: 0 16px;
}
.nav .link-store:hover {
	text-decoration: none;
}
.nav-wrap.open {
	display: block;
}
.nav-wrap.close {
	display: none;
}
@media (min-width: 1001px) {
	.nav-wrap {
		display: block !important;
	}
}
@media (max-width: 1000px) {
	.header .logo {
		margin-left: 0;
	}
	.nav-button {
		display: block;
		cursor: pointer;
	}
	.nav-wrap {
		position: fixed;
		left: 0;
		top: 0;
		display: none;
		z-index: 10;
		background: #E44C6F;
		width: 100%;
		height: 100%;
	}
	.nav-wrap .nav {
		height: 100%;
		position: relative;
		overflow-x: hidden;
		overflow-y: auto;
		margin-top: 20%;
		text-align: center;
	}
	.nav-wrap li {
		display: block;
		margin: 16px;
	}
	.nav a.nav-link {
		font-size: 16px;
		padding: 16px 0;
		display: block;
	}
	.nav a.nav-link::after {
		position: absolute;
		bottom: -8px;
		left: 0;
		content: '';
		width: 100%;
		height: 2px;
		background: #E44C6F;
		transform: scale(0, 1);
		transform-origin: left top;
		transition: transform .3s;	
	}
	.nav .link-store {
		margin: 0;
	}
	.nav .btn-login {
		border: 1px solid #fff;
		background: #E44C6F;
		cursor:pointer;
		display: inline-block;
		color: #fff;
		padding: 16px 22px;
		width: 100%;
		max-width: 240px;
	}
	.nav .btn-login:hover {
		border: 1px solid #fff;
		background: #E44C6F;
	}
	.nav .btn-head {
		padding: 16px 22px;
		border: 1px solid #fff;
		background: #fff;
		color: #E44C6F;
		width: 100%;
		max-width: 240px;
		margin: 0;
	}
	.nav-wrap li a {
		color: #fff;
		font-size: 16px;
		display: block;
		padding: 8px;
	}
	.nav-button, .nav-button span {
	  display: inline-block;
	  transition: all 0.4s;
	  box-sizing: border-box;
	}
	.nav-button {
		z-index: 20;
		position: relative;
		width: 30px;
		height: 20px;
	}
	.nav-button span {
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #1a1a1a;
		border-radius: 2px;
	}
	.nav-button span:nth-of-type(1) {
		top: 0;
	}
	.nav-button span:nth-of-type(2) {
		top: 9px;
	}
	.nav-button span:nth-of-type(3) {
		bottom: 0;
	}
	.nav-button.active span:nth-of-type(1) {
		-webkit-transform: translateY(9px) rotate(-45deg);
		transform: translateY(9px) rotate(-45deg);
		width: 32px;
		background-color: #fff;
		
	}
	.nav-button.active span:nth-of-type(2) {
		opacity: 0;
	}
	.nav-button.active span:nth-of-type(3) {
		-webkit-transform: translateY(-9px) rotate(45deg);
		transform: translateY(-9px) rotate(45deg);
		width: 32px;
		background-color: #fff;
	}
}

/** footer **/
footer {
	font-size: 14px;
	font-weight: normal;
	background: #F5F7F8;
}
footer ul {
	margin-left: -40px;
	margin-bottom: 40px;
}
footer li {
	padding-left: 40px;
}
footer li a:hover{
	text-decoration: underline;
}
@media (max-width: 700px) {
	footer ul {
		flex-direction: column;
		align-items: left;
	}
	footer li {
		margin-bottom: 16px;
	}
}


/** head-smb **/
.head-smb {
	background-image: url(../images/smb-mv-bg.jpg);
	background-size: cover;
}
.head-smb .mvWrap {
	position: relative;
}
.mv-smb-wrap-text {
	width: 100%;
}
.mv-smb-wrap-img {
	width: 60%;
	position: absolute;
	top: 0;
	left: 50%;
}
.mv-smb-wrap-img img {
	width: 100%;
}
.head-smb h1 {
	font-size: 4rem;
}
.head-smb h1 span {
	font-size: 1.5rem;
	display: inline-block;
}
.head-smb h1 span span {
	color: #E9446A;
}
@media (max-width: 1000px) {
	.head-smb h1 {
		font-size: 3rem;
	}
	.head-smb h1 span {
		font-size: 1.2rem;
	}
}
@media (max-width: 700px) {
	.head-smb .container{
		padding: 0;
	}
	.head-smb .mvWrap {
		flex-direction: column;
		text-align: center;
	}
	.mv-smb-wrap-img {
		width: 100%;
		max-width: 480px;
		height: 50vw;
		overflow: hidden;
		position: relative;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.head-smb h1 {
		font-size: 2.5rem;
	}
	.head-smb h1 span {
		font-size: 0.9rem;
	}
}

/** logoWrap **/
.logoWrap .container {
	padding: 1.5rem 0;
}
.logoWrap h2 {
	font-size: 1.2rem;
}
.logoWrap h2 span {
	font-size: 4rem;
}
.logoWrap h3 {
	padding-top: 0.3rem;
	font-size: 0.9rem;
	font-weight: 300;
}
.logo-list ul {
	justify-content: center;
	margin-top: 0.3rem;
}
.logo-list li {
	width: 25%;
	padding: 0 1.5rem;
	display: flex;
}
.logo-list li img {
	width: 100%;
}
@media (max-width: 1000px) {
	.logo-list li {
		padding: 0 0.8rem;
	}	
}
@media (max-width: 700px) {
	.logoWrap h2 {
		font-size: 0.8rem;
	}
	.logoWrap h2 span {
		font-size: 2.5rem;
	}
	.logo-list li {
		width: 33.33%;
		padding: 0 0.5rem;
	}
}

/** feature-smb **/
.feature-smb-list {
	margin-bottom: 2.5rem;
	align-items: center;
}
.feature-smb-text {
	width: 50%;
	padding-left: 3rem;
}
.feature-smb-img {
	width: 50%;
}
.feature-smb-img img {
	width: 100%;
}
.feature-smb h2 br {
	display: none;
}
.feature-smb h3 {
	font-size: 1.5rem;
	padding-bottom: 1rem;
}
@media (max-width: 1000px) {
	.feature-smb h2 br {
		display: block;
	}
	.feature-smb h3 {
		font-size: 1.2rem;
		padding-bottom: 0.5rem;
	}
	.feature-smb h3 br {
		display: none;
	}
}
@media (max-width: 700px) {
	.feature-smb-list {
		flex-direction: column;
		width: 100%;
		padding: 0 5%;	
	}
	.feature-smb-text {
		width: 100%;
		padding-left: 0;
	}
	.feature-smb-img {
		width: 100%;
		margin-bottom: 0.8rem;
	}
	.feature-smb h3 {
		font-size: 1.2rem;
		padding-bottom: 0.5rem;
	}
}

/** trouble **/
.trouble {
	background: #46555F;
	color: #fff;
}
.trouble p {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
}
.trouble-list {
	max-width: 800px;
	background: #fff;
	border-radius: 3rem 3rem 3rem 0px;
	color: #46555F;
	margin: 0 auto 1.5rem auto;
	align-items: center;
}
.trouble-img {
	width: 20%;
	text-align: center;
}
.trouble-text {
	width: 80%;
	padding: 2rem 2rem 2rem 0.5rem;
}
.trouble h3 {
	font-size: 1.3rem;
	padding-bottom: 0.5rem;
}
@media (max-width: 1000px) {
	.trouble-text {
		width: 80%;
		padding: 1.2rem 1.2rem 1.2rem 0.2rem;
	}
	.trouble h3 {
		font-size: 1.2rem;
		padding-bottom: 0.5rem;
	}
}
@media (max-width: 1000px) {
	.trouble-list {
		margin: 0 auto 1rem auto;
		border-radius: 2rem 2rem 2rem 0px;
	}
	.trouble-img {
		width: 15%;
		text-align: center;
	}
	.trouble-text {
		width: 85%;
	}
	.trouble h3 {
		font-size: 1rem;
		padding-bottom: 0.5rem;
	}
	.trouble h3 br {
		display: none;
	}
	.trouble h4 {
		font-size: 0.9rem;
		font-weight: 300;
	}
}
@media (max-width: 700px) {
	.trouble p {
		font-size: 1.2rem;
	}	
}

/** function-smb **/
.function-smb-wrap {
	margin: -0.75rem 0 1.75rem 0;
}
.function-smb-list-wrap {
	width: 50%;
	padding: 0.75rem;
}
.function-smb-list {
	background: #fff;
	padding: 1.5rem 1.5rem 1.5rem 1.5rem;
	border-radius: 1rem;
	align-items: center;
}
.function-smb-text {
	width: calc(100% - 168px);
	padding-left: 1.5rem;
}
.function-smb-img {
	width: 168px;
	position: relative;
}
.function-smb-img img {
	width: 100%;
}
.function-smb h3 {
	background: #058DC7;
	border-radius: 1rem 1rem 0 1rem;
	padding: 0.5rem 1.5rem;
	color: #fff;
	width: auto;
	position: absolute;
	top: -0.5rem;
	left: -1rem;
	font-size: 0.9rem;
}
.function-smb h3 span {
	font-size: 1.5rem;
	display: inline-block;
	padding-right: 0.5rem;
	font-weight: 300;
}
.function-smb h4 {
	font-size: 1.1rem;
	padding-bottom: 0.2rem;
}
.function-smb-text p {
	font-size: 0.9rem;
	line-height: 160%;
}
@media (max-width: 1000px) {
	.function-smb-wrap {
		flex-direction: column;
	}
	.function-smb-list-wrap {
		width: 100%;
	}
}
@media (max-width: 700px) {
	.function-smb-list-wrap {
		padding: 0.5rem;
	}
	.function-smb-list {
		flex-direction: column;
	}
	.function-smb-text {
		width: 100%;
		padding:0.5rem 0 0 0 ;
	}
	.function-smb h3 {
		left: -3.5rem;
	}
}

/** btnWrap **/
.btnWrap .switch-link {
	text-align: center;
}
.btnWrap .switch-link a{
	color: #E9446A;
}
.bnr {
	background: #E9446A;
	max-width: 800px;
	width: 85vw;
	margin: 0 auto;
	border-radius: 1rem;
	padding: 2rem 3rem;
	align-items: center;
	position: relative;
	transition:200ms ease all;
}
.bnr-icon {
	width: 20%;
	padding-right: 1rem;
}
.bnr-icon img {
	width: 60%;
}
.bnr-cover {
	width: 20%;
	padding-right: 1rem;
}
.bnr-cover img {
	width: 100%;
}
.bnr-text {
	width: 60%;
	color:  #fff;
}
.bnr-heading {
	font-size: 1.5rem;
	font-weight: 700;
	padding-bottom: 0.4rem;
}
.bnr-lead {
	font-size: 0.8rem;
}
.bnr::after {
	content: url(../images/arrow-bnr.svg);
	display: inline-block;
	width: auto;
	height: auto;
	position: absolute;
	right: 4rem;
	top: 50%;
	transform: translate(0, -50%);
	transition:200ms ease all;
}
.bnr:hover {
	background: #e75577;
	transform: scale(1.02,1.02);
}
.bnr:hover::after {
	right: 2.5rem;
}
@media (max-width: 700px) {
	.bnr {
		padding: 1.5rem 2rem;
		border-radius: 0.75rem;
	}
	.bnr-icon , .bnr-cover {
		display: none;
	}
	.bnr-text {
		width: 85%;
	}
	.bnr-heading {
		font-size: 1.1rem;
	}
	.bnr-lead {
		font-size: 0.75rem;
		line-height: 150%;
	}
	.bnr-lead span {
		display: none;
	}
	.bnr::after {
		content: url(../images/btn-arrow-white.svg);
		right: 1.5rem;
	}
	.bnr:hover::after {
		right: 1rem;
	}
}

/** case-top **/
.case-top {
}

/** benefits-top **/
.benefits-wrap {
	max-width: 630px;
	margin: -1.5rem auto 0 auto;
	padding: 0 1rem;
}
.benefits-wrap li {
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 0;
	border-bottom: 1px solid #E4E7EB;
	flex-wrap: nowrap;
}
.benefits-text {
	width: 50%;
}
.benefits-text h3 {
	text-align: right;
}
.benefits-img {
	width: 50%;
}
.benefits-img img {
	width: 100%;
}
.benefits-wrap h3 br {
	display: none;
}
.benefits-wrap h4 {
	color: #E9446A;
	font-size: 1.5rem;
	text-align: right;
}
.benefits-wrap h4 span {
	font-size: 3rem;
}
.note {
	max-width: 630px;
	margin: 0 auto;
	font-size: 0.75rem;
	margin-top: 1.5rem;
}
@media (max-width: 700px) {
	.benefits-wrap li {
		padding: 1rem 0;
	}
	.benefits-wrap h3 {
		font-size: 0.9rem;
	}
	.benefits-wrap h3 br {
		display: block;
	}
	.benefits-wrap h4 {
		color: #E9446A;
		font-size: 0.8rem;
	}
	.benefits-wrap h4 span {
		font-size: 2rem;
	}
}


/** faq-top **/
.faq-wrap {
	max-width: 720px;
	margin: -1rem auto 0 auto;
	padding: 0 1rem;
}
.faq-wrap li {
	border-bottom: 1px solid #E4E7EB;
}
.faq-wrap h3 {
	font-size: 1rem;
	position: relative;
	padding-left: 1.7rem;
	margin: 1.5rem 0 1rem 0;
}
.faq-wrap h3::before {
	content: "Q.";
	position: absolute;
	font-size: 1.15rem;
	top: 0;
	left: 0;
}
.faq-wrap .answer {
	font-size: 1rem;
	position: relative;
	padding-left: 1.7rem;
	padding-bottom: 1.5rem;
	
}
.faq-wrap li:last-child {
	border-bottom: none;
}
.faq-wrap .answer::before {
	content: "A.";
	position: absolute;
	font-size: 1.15rem;
	top: 0;
	left: 0;
}
@media (max-width: 700px) {
	.faq-wrap h3 {
		font-size: 1rem;
		margin: 1rem 0 0.6rem 0;
	}
	.faq-wrap .answer {
		font-size: 0.9rem;
		padding-bottom: 1rem;
	}
	.faq-wrap li:last-child {
		border-bottom: none;
	}
}

/** price-smb **/
.price-smb .container{
	padding: 2rem 0 0 0;
}
.price-smb-wrap {
	max-width: 630px;
	margin: 0 auto;
	padding: 0 1rem;
}
.price-smb h3 {
	font-size: 1.5rem;
	text-align: center;
	color: #E9446A;
}
.price-smb h3 span {
	font-size: 5rem;
	letter-spacing: -0.1rem;
	display: inline-block;
	padding: 0 0.5rem;
}
.price-smb-wrap p {
	font-size: 0.8rem;
	font-weight: 700;
	margin: 0.5rem 0;
}
.price-smb-wrap .note {
	font-size: 0.75rem;
	font-weight: 300;
}
@media (max-width: 1000px) {
	.price-smb h2 {
		font-size: 1.5rem;
	}
	.price-smb h3 {
		font-size: 1rem;
	}
	.price-smb h3 span {
		font-size: 4rem;
	}
}
@media (max-width: 700px) {
	.price-smb h2 {
		font-size: 1.2rem;
	}
	.price-smb h3 span {
		font-size: 3rem;
	}
}

/** head-enterprise **/
.head-enterprise .mvWrap {
	position: relative;
}
.mv-enterprise-wrap-text {
	width: 100%;
	z-index: 800;
}
.mv-enterprise-wrap-img {
	width: 65%;
	position: absolute;
	top: 15%;
	left: 50%;
}
.mv-enterprise-wrap-img img {
	width: 100%;
}
.head-enterprise h1 {
	font-size: 3.2rem;
}
.head-enterprise h1 span {
	font-size: 1.5rem;
	display: inline-block;
}
.head-enterprise h1 span span {
	color: #E9446A;
}
@media (max-width: 1000px) {
	.head-enterprise h1 {
		font-size: 2.5rem;
	}
	.head-enterprise h1 span {
		font-size: 1.5rem;
	}
}
@media (max-width: 700px) {
	.head-enterprise .container{
		padding: 1rem 0 0 0;
	}
	.head-enterprise .mvWrap {
		flex-direction: column;
		text-align: center;
	}
	.mv-enterprise-wrap-img {
		width: 100%;
		max-width: 480px;
		height: 50vw;
		overflow: hidden;
		position: relative;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.head-enterprise h1 {
		font-size: 7.5vw;
	}
	.head-enterprise h1 span {
		font-size: 1.2rem;
	}
}

/** movie-kcom **/
.movie-kcom {
}

/** feature-enterprise **/
.feature-enterprise-wrap {
	justify-content: center;
	margin: -0.75rem 0 1.75rem 0;
}
.feature-enterprise-list-wrap {
	width: 45%;
	margin: 0.75rem;
	padding: 2rem;
	background: #F5F7F8;
	border-radius: 1rem;
}
.feature-enterprise-img {
	max-width: 388px;
	width: 100%;
}
.feature-enterprise-img img {
	max-width: 100%;
}
.feature-enterprise h3 {
	font-size: 1.2rem;
	padding-bottom: 1rem;
}
.feature-enterprise-list p {
	font-size: 0.9rem;
	padding-top: 1rem;
}
@media (max-width: 1000px) {
	.feature-enterprise h3 {
		padding-bottom: 0.8rem;
	}
	.feature-enterprise h3 br {
		display: none;
	}
	.feature-enterprise-list p {
		padding-top: 0.8rem;
		line-height: 160%;
	}
}
@media (max-width: 700px){
	.feature-enterprise h2 br {
		display: none;
	}
	.feature-enterprise-list {
		flex-direction: column;
	}
	.feature-enterprise-list-wrap {
		width: 100%;
		text-align: center;
		padding: 1.5rem;
		margin: 0.5rem 0;
	}
	.feature-enterprise-img {
		margin: 0 auto;
	}
	.feature-enterprise h3 br {
		display: block;
	}
}

/** function-enterprise **/
.function-enterprise .container {
	max-width: 1200px;
}
.function-enterprise-wrap {
	justify-content: center;
	margin: -0.75rem 0 1.75rem 0;
}
.function-enterprise-list-wrap {
	width: 30%;
	margin: 0.5rem;
	border-radius: 1rem;
	background: #fff;
	position: relative;
}
.function-enterprise-list {
	padding: 1rem 2rem 1rem 1.5rem;	
	align-items: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.function-enterprise-img {
	max-width: 64px;
}
.function-enterprise-img img {
	width: 100%;
}
.function-enterprise-text {
	width: calc(100% - 64px);
	padding-left: 1rem;
}
.function-enterprise h3 {
	font-size: 1rem;
	padding-bottom: 0.2rem;
}
.function-enterprise h4 {
	font-size: 0.9rem;
	font-weight: 300;
}
@media (max-width: 1000px) {
	.function-enterprise-list-wrap {
		width: 45%;
		margin: 0.3rem;
	}
	.function-enterprise h3 br {
		display: none;
	}
	.function-enterprise-img {
		max-width: 56px;
	}
	.function-enterprise-text {
		width: calc(100% - 56px);
		padding-left: 1rem;
	}
}
@media (max-width: 700px) {
	.function-enterprise-list-wrap {
		width: 100%;
	}
	.function-enterprise-list {
		padding: 1rem 1rem 1rem 1.5rem;	
	}
	.function-enterprise h3 {
		font-size: 0.9rem;
	}
	.function-enterprise-img {
		max-width: 48px;
	}
}

/** price-enterprise **/
.price-enterprise-wrap {
	justify-content: center;
	margin: -0.75rem 0 1.75rem 0;
}
.price-enterprise-box-wrap {
	width: 45%;
	margin: 0.75rem;
	padding: 1.5rem;
	background: #fff;
	border-radius: 1rem;
}
.price-enterprise h3 {
	font-size: 0.9rem;
	display: inline-block;
	width: auto;
	padding: 0.6rem 1.2rem;
	border-radius: 1rem 1rem 0 1rem;
	margin-bottom: 1rem;
} 
.price-enterprise h4 {
	color: #E9446A;
	font-weight: 700;
	text-align: center;
	font-size: 0.9rem;
	margin: 0.7rem 0;
} 
.price-enterprise h4 span {
	font-size: 2.5rem;
	letter-spacing: -0.1rem;
	display: inline-block;
	padding: 0 0.5rem;
} 
.price-other h3 {
	background: #46555F;
	color: #fff;
}
.price-kcom h3 {
	background: #E9446A;
	color: #fff;
	width: auto;
}
.price-enterprise-box li {
	color: #46555F;
	justify-content: space-between;
	font-size: 0.8rem;
	margin-bottom: 0.5rem;
}
li.kcom-price {
	color: #E9446A;
	font-weight: 700;
}
li.kcom-price p span{
	font-size: 1.5rem;
}
.price-enterprise-box li p.left{
	width: 65%;
	padding-right: 1rem;
}
.price-enterprise-box li p.right{
	text-align: right;
	width: 35%;
}
.price-enterprise .total {
	background: rgba(70, 85, 95, 0.1);
	padding: 0.4rem 1rem;
	font-size: 0.9rem;
	align-items: center;
	margin-top: 0.5rem;
}
.price-enterprise-box li.total p.left{
	width: 20%;
	font-size: 0.8rem;
}
.price-enterprise-box li.total p.right{
	text-align: right;
	width: 80%;
}
.price-enterprise .total p {
	font-size: 1.1rem;
	font-weight: 700;
}
.price-enterprise .total p span {
	font-size: 0.75rem;
	font-weight: 300;
	display: inline-block;
	padding-left: 0.5rem;
}
.price-enterprise br {
	display: none;
}
@media (max-width: 1000px) {
	.price-enterprise br {
		display: block;
	}
	.price-enterprise-box-wrap {
		margin: 0.5rem;
		padding: 1rem;
	}
}
@media (max-width: 700px) {
	.price-enterprise-box-wrap {
		width: 100%;
	}
	.price-enterprise h4 span {
		font-size: 2rem;
	} 
}

/** contact-form-section **/
#contact-form-section .container {
	max-width: 800px;
	padding: 4rem 0;
}
#contact-form-section .heading {
	margin-bottom: 3rem;
}
#contact-form-section .heading-tit {
	font-size: 2.5rem;
	font-weight: 700;
	text-align: left;
}
#contact-form-section .heading p {
	text-align: left;
}
#contact-form-section form {
	max-width: 800px;
	margin: 0 auto;
}
#contact-form-section h1 {
	font-size: 1.5rem;
	text-align: left;
	margin-bottom: 1rem;
}
input, button, textarea, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: inherit;
	border-radius: 0;
	box-sizing: border-box;
	font-size: 16px;
	color: inherit;
}
label {
	cursor: pointer;
	display: block;
	margin: 24px 0 8px 0;
	font-weight: 300;
	font-size: 12px;
}
label span{
	padding-left: 8px;
	color: #E44C6F;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-outer-spin-button,
input[type="month"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-outer-spin-button,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="week"]::-webkit-outer-spin-button,
input[type="week"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type="number"],
input[type="month"],
input[type="datetime-local"],
input[type="week"],
input[type="time"],
input[type="date"] {
  -moz-appearance: textfield;
}
input[type="date"]::-webkit-clear-button,
input[type="month"]::-webkit-clear-button,
input[type="datetime-local"]::-webkit-clear-button,
input[type="time"]::-webkit-clear-button,
input[type="week"]::-webkit-clear-button {
  -webkit-appearance: none;
}
input {
	background: #fff;
	border: 1px solid transparent;
	transition: border 0.2s ease-out;
	color: inherit;
	height: 56px;
	width: 100%;
	padding: 16px;
	outline: 0;
	border-radius: 4px;
}
input:focus, textarea:focus  {
	border: 1px solid #494949;
}
input::placeholder, textarea::placeholder {
	color: #B9B9BB;
}
button:hover, button:focus {
	opacity: 0.9;
}
textarea {
	padding: 16px;
	width: 100%;
	height: 100px;
	margin-bottom: 32px;
	border-radius: 4px;
	resize: none;
	border: 1px solid transparent;
	transition: border 0.2s ease-out;
	outline: none;
	background-color: #fff;
  }
  textarea::-webkit-scrollbar {
	width: 10px;
  }
  textarea::-webkit-scrollbar-track {
	background-color: #fff;
  }
  textarea::-webkit-scrollbar-thumb {
	background-color: #ccc;
  }

/* デフォルトのinputを隠す */
input[type="radio"] {
	display: none;
	position: relative;
	opacity: 0;
  }
.radio-input{
  display: none;
}
.radio-input + label{
  padding-left: 24px;
  position:relative;
  margin-right: 32px;
  font-size: 16px;
  line-height: 1;
}
.radio-input + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #999;
  background: #fff;
  border-radius: 50%;
}
.radio-input:checked + label{
  color: #E44C6F;
}
.radio-input:checked + label::before{
	border: 1px solid #E44C6F;
  }
.radio-input:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: #E44C6F;
  border-radius: 50%;
}
.radio .flex {
	margin-top: -16px;
}
form .btn {
	max-width: 240px;
	height: 56px;
    width: 100%;
    padding: 16px;
    outline: 0;
}
.submit {
	text-align: center;
}
#thxMessage p {
	text-align: center;
	color: #E44C6F;
}
.btn {
	border: 2px solid #E44C6F;
	cursor:pointer;
	display: inline-block;
	transition:200ms ease all;
	background: #E44C6F;
	color: #fff;
	border-radius: 4px;
}
.btn:hover {
	opacity: 0.85;
	box-shadow: none;
}
@media (max-width: 700px) {
	#contact-form-section .container {
		padding: 2rem 0;
	}
	#contact-form-section .heading {
		margin-bottom: 0;
	}
	#contact-form-section .heading-tit {
		font-size: 0.8rem;
	}
	#contact-form-section form {
		padding: 8px;
	}
	.radio .flex {
		flex-direction: column;
		align-items: flex-start;
	}
}

/** case **/
.case-top {
	background: hsl(214, 97%, 23%, 0.1);
}
#case article {
}
.interview {
}
.profile {
	background: hsl(214, 97%, 23%, 0.3);
}


/** about **/
#about {
	background: #f8f9f9;
	padding: 80px 5% 40px;
	font-weight: normal;
	line-height: 180%;
}
#about .container {
	max-width: 1160px;
	padding: 80px 5%;
}
#about h1 {
	font-size: 32px;
	margin-bottom: 48px;
}
#about h2 {
	font-size: 24px;
	margin: 40px 0 12px 0;
	padding: 0;
}
#about h3 {
	font-size: 16px;
	margin: 16px 0 12px 0;
}
#about .sign {
	font-weight: 700;
	font-size: 16px;
	text-align: right;
}
#about p {
	text-align: justify;
}
#about li {
	margin: 12px 0;
	text-align: justify;
}
#about a:hover {
	text-decoration: underline;
}
#about dl {
	display: flex;
	margin-top: 40px;
	padding-bottom: 24px;
	border-bottom: 1px solid #E4E7EB;
}
#about dt {
	width: 30%;
	font-weight: 700;
}
#about dd {
	width: 70%;
	padding-left: 32px;
}

