html {
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 24px;
	padding-top: 60px;
	margin-top:-60px;
}
header {
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
header .container {
	max-width: 1140px;
}
.header-left {
	float: left;
}
.header-left img {
	width: 100px;
	padding-top: 20px;
}
nav {
	float: right;
	line-height: 70px;
	font-size: 13px;
}
nav a.textLink {
	padding: 24px 12px;
}
#main {
	padding-top: 70px;
	background: url(../images/banner_bg.png);
	height: 800px;
}



