html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 24px;
	padding-top: 60px;
	margin-top:-60px;
}
.header {
	position: fixed;
	top: 0;
	width: 100%;
	background: linear-gradient(314.42deg, #FB4B38 6.38%, #F43F74 82.44%);
	transition: all 0.5s ease;
}
.hidden {
	width: 100%;
	background: none;
	transition: all 0.5s ease;
}
header .container {
	max-width: 1140px;
}
.header-left {
	float: left;
}
.header-left img {
	width: 100px;
	padding-top: 20px;
}
nav {
	float: right;
	line-height: 70px;
	font-size: 13px;
}
nav a.textLink {
	padding: 24px 12px;
	color: rgba(255,255,255,0.7);
}
nav a.textLink:hover {
	color: #fff;
	transition: all 0.3s ease 0s;
}
nav a.btn {
	color: #fff;
	font-size: 14px;
	margin-left: 24px;
	padding: 12px 24px;
	border: 1px solid #fff;
	border-radius: 30px;
}
nav a.btn:hover {
	color: #E9446A;
	background-color: #fff;
	transition: all 0.3s ease 0s;
}
#main {
	padding-top: 70px;
}
.main_wrapper{
	background: url(../images/banner_bg.png) no-repeat;
    background-position: 0;
    min-height: 965px;
    background-size: cover;
    width: auto;
    left: 0;
    right: 0;
    z-index: -1;
}
#main .row {
    display: flex;
    flex-wrap: wrap;
}
#main .row .heading {
	flex: 0 0 60%;
    max-width: 60%;
	color: #fff;
}
#main .row .heading h1 {
	font-size: 40px;
	line-height: 64px;
	letter-spacing: .1em;
}
#main .row .imgbox {
	flex: 0 0 40%;
	max-width: 100%;
    margin-left: -480px;
	position: relative;
}
#main .row .imgbox .bnr {
	position: absolute;
}
#main .row .imgbox .bnr img{
	width: 320%;
}












