html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: #354341;
	background: #fff;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Verdana, Meiryo, sans-serif;
    font-feature-settings: "palt";
	letter-spacing: .8px;
	font-size: 16px;
	font-weight: 700;
}
p {
	line-height: 180%;
	text-align: justify;
}
a {
	text-decoration: none;
	color: #354341;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 80px;
}
.flex {
	display: flex;
	align-items: center;
}
.shadow-box {
	box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
}

.gray {
	background: #F8F9F9;
	width: 100%;
}
main {
	padding-top: 72px;
}
.heading {
	text-align: center;
}
.round-bg {
	display: inline-block;
	background: #354341;
	color: #fff;
	font-size: 18px;
	padding: 8px 120px;
	border-radius: 40px;
	margin-bottom: 24px;
}
.withArrow {
	position: relative;
}
.arrow {
	position: absolute;
	left: 50vw;
	bottom: -50px;
}
.textBox {
	width: 40%;
	padding: 0 40px;
}
.textBox h3 {
	padding: 10px 0 24px 0;
}
.screenBox {
	width: 50%;
	padding: 0 16px;
}
.screenBox img {
	width: 100%;	
}
.notes {
	font-size: 12px;
	font-weight: 300;
}


/** scroll **/

.scroll {
	position: fixed;
	width: 80px;
	z-index: 1000;
    top: 45vh;
    left: 40px;
}
.scroll img {
	text-align: center;
}


/** header **/

header {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	background: #fff;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}
nav {
	max-width: 1320px;
	margin: 0 auto;
	padding: 16px 80px;
	justify-content: space-between;
}
nav li {
	padding-left: 8px;
}
nav li a {
	font-size: 14px;
	display: inline-block;
	padding: 10px 16px;
	border-radius: 4px;
}
nav li a:hover {
	background: rgba(20, 53, 60, 0.05);
}

/** footer **/



/** btn link **/

.btn {
	border: 2px solid #E44C6F;
	cursor:pointer;
	display: inline-block;
	transition:200ms ease all;
	background: #E44C6F;
	color: #fff;
	border-radius: 4px;
}
.btn:hover {
	opacity: 0.85;
	box-shadow: none;
}
.btn-head {
	margin-left: 40px;
	font-size: 14px;
	padding: 8px 22px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.btn-top {
	margin: 40px 0 24px 0;
	padding: 12px 56px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.btnWrap {
	text-align: center;
}
.btnWrap div {
	font-size: 18px;
}
.btn-page {
	font-size: 24px;
	margin: 16px 0;
	padding: 16px 180px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.text-link {
	font-size: 14px;
	color: #E44C6F;
	text-decoration: underline;
}
.text-link:hover {
	text-decoration: none;
}


/** Typo **/

h1 {
	font-size: 68px;
	line-height: 130%;
	text-align: center;
}
h2 {
	font-size: 48px;
	line-height: 140%;
}
.solution h2 {
	font-size: 36px;
	margin-bottom: 60px;
}
.solution-list h2 {
	font-size: 24px;
}
.top h2 span {
	font-size: 24px;
}
.enter-top h2 {
	font-size: 18px;
}
h3 {
	font-size: 40px;
	line-height: 140%;
}
.solution-box h3 {
	font-size: 16px;
}
.performance-box h3 {
	font-size: 24px;
}
h4 {
	font-size: 24px;
	line-height: 140%;
}
.heading p {
	font-size: 18px;
	text-align: center;
}


/** top **/

.top {
	margin: 0 auto;
}
.smb-top {
	text-align: center;
}
.gray-bottom {
	background: linear-gradient(to bottom, #fff 0%, #fff 50%, #F8F9F9 50%, #F8F9F9 100%);
	width: 100%;	
}
.smb-top .cover {
	margin: 0 auto;
	width: 100%;
	position: relative;
	z-index: 996;	
}
.cover-container {
	max-width: 1160px;
	margin: -80px auto -60px auto;
	position: relative;
	z-index: 997;
}
.smb-top .cover img {
	width: 100%;
}
.enter-top .container {
	padding-bottom: 0;
}
.enter-top .cover .container {
	padding: 0 0 0 80px;
}
.enter-top .textBox {
	padding: 0;
	max-width: 240px;
	width: 100%;
}
.enter-top .screenBox {
	flex: 1;
}




/** solution **/

.solution {
	text-align: center;
}
.solution-list ul {
	margin: 0 auto;
	max-width: 960px;
	justify-content: space-around;
}
.solution-list li {
	padding: 40px 24px;
	max-width: 240px;
	width: 100%;
}
.solution-list li img {
	width: 80px;
}
.solution-list li h3 {
	padding-top: 24px;
}


/** service **/

.service .num {
	font-weight: 100;
	font-size: 72px;
	line-height: 1;
}


/** performance **/

.performance-box {
	max-width: 720px;
	margin: 0 auto;
}
.performance-box li {
	padding: 24px 0;
	border-bottom: 1px solid #E4E7EB;
}
.performance-box li:last-child {
	border-bottom: none;
}
.performance-box h3 {
	display: flex;
	justify-content: space-between;
}
.performance {
	color: #E44C6F;
}
.performance span {
	font-size: 56px;
}

/** worry **/
.voice {
	align-items: flex-start;
	margin-bottom: 16px;
	width: max-content;
	max-width: 1160px;
}
.avatar {
	width: 48px;
	margin-right: 16px;
}
.IcoSolution {
	margin-right: 16px;
}
.worry .client h3 {
	font-size: 20px;
	line-height: 160%;
	flex: 1;
	background: #354341;
	color: #fff;
	padding: 16px 32px;
}
.worry .kcom p {
	flex: 1;
	border:1px solid #354341;
}
.point {
	margin: 0 auto;
	width: max-content;
}

/** price **/
.price {
	max-width: 640px;
	margin: 0 auto;
}

/** intro **/
.intro {
	max-width: 1160px;
	margin: 0 auto;
}






@media (max-width: 1000px) {
	.header-right a.textLink {
		display: none;
	}
}

@media (max-width: 670px) {
	.header-right a.textLink {
		display: none;
	}
}





/**


.thin {
	font-weight: 100;
}







#faq .more {
	text-align: center;
}
#faq a.btn {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	padding: 16px 64px;
	background: linear-gradient(314.42deg, #FB4B38 6.38%, #F43F74 82.44%);
	border-radius: 30px;
}
#faq a.btn:hover {
	color: #E9446A;
	background: none;
	border: 1px solid #E9446A;
	transition: all 0.3s ease 0s;
}
#contact-form {
	background: #F8F9FA;
}
#contact-form .contact {
	margin: 0 auto;
	max-width: 560px;
}

#contact-form .mailto{
	text-decoration: underline;
}
#contact-form label{
	color: #10b3e9;
}
#contact-form input {
	margin-top: 0;
	height: 48px;
}
#contact-form .os_heading_wraper{
	padding-bottom: 40px;
}
#contact-form label{
	width: 100%;
	padding-top: 2em;
	text-align: center;
	font-size: 14px;
	color: #333;
}
.os_index6_form_main_wrapper {
    padding-bottom: 60px;
}
.os_index6_form_main_wrapper:after {
	background: url(../images/contact_shape.png) center repeat-x;
	width: 100%;
}
.os_index3_input_box_wrapper textarea {
    margin-top: 0;
}
.os_index6_form_main_wrapper:after {
    min-height: 1040px;
}
#contact-form .inputbtn{
	text-align: center;
	padding-top: 24px;
}
#contact-form .submit{
	color: #fff;
	background: linear-gradient(314.42deg, #FB4B38 6.38%, #F43F74 82.44%);
	border:1px solid #FB4B38;
	font-weight: 600;
	width: 60%;
	height: 56px;
	border-radius: 30px;
	letter-spacing:0.2em;
	text-align:center;
	text-indent:0.2em;
	-webkit-transition: all .5s;
  	transition: all .5s;
}
#contact-form .submit:hover{
	background: linear-gradient(314.42deg, rgb(255, 102, 85) 1%, rgb(255, 126, 165) 30%);
	cursor: pointer;	
	text-align:center;
  	-webkit-transition: all .3s;
  	transition: all .3s;
}
