html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: #354341;
	background: #fff;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Verdana, Meiryo, sans-serif;
    font-feature-settings: "palt";
	letter-spacing: .8px;
	font-size: 16px;
	font-weight: 700;
}
p {
	line-height: 180%;
	text-align: justify;
}
a {
	text-decoration: none;
	color: #354341;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 80px;
}
.flex {
	display: flex;
	align-items: center;
}
.shadow-box {
	box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
.gray {
	background: #F8F9F9;
	width: 100%;
}
main {
	padding-top: 72px;
}
.heading {
	text-align: center;
}
.round-bg {
	display: inline-block;
	background: #354341;
	color: #fff;
	font-size: 24px;
	padding: 8px 100px;
	border-radius: 40px;
	margin-bottom: 24px;
}
.withArrow {
	position: relative;
}
.arrow {
	position: absolute;
	left: 50vw;
	bottom: -50px;
}
.textBox {
	width: 40%;
	padding: 0 40px;
}
.textBox h3 {
	padding: 10px 0 24px 0;
}
.screenBox {
	width: 50%;
	padding: 0 16px;
}
.screenBox img {
	width: 100%;	
}
.notes {
	padding-top: 16px;
	font-size: 12px;
	font-weight: normal;
}

/** scroll **/
.scroll {
	position: fixed;
	width: 80px;
	z-index: 1000;
    top: 45vh;
    left: 40px;
}
.scroll img {
	text-align: center;
}

/** header **/

header {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	background: #fff;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}
nav {
	max-width: 1320px;
	margin: 0 auto;
	padding: 16px 80px;
	justify-content: space-between;
}
nav li {
	padding-left: 8px;
}
nav li a {
	font-size: 14px;
	display: inline-block;
	padding: 10px 16px;
	border-radius: 4px;
}
nav li a:hover {
	background: rgba(20, 53, 60, 0.05);
}

/** footer **/
footer {
	font-size: 14px;
	font-weight: normal;
}
footer ul {
	margin-left: -40px;
	margin-bottom: 40px;
}
footer li {
	padding-left: 40px;
}
footer li a:hover{
	text-decoration: underline;
}

/** btn link **/
.btn {
	border: 2px solid #E44C6F;
	cursor:pointer;
	display: inline-block;
	transition:200ms ease all;
	background: #E44C6F;
	color: #fff;
	border-radius: 4px;
}
.btn:hover {
	opacity: 0.85;
	box-shadow: none;
}
.btn-head {
	margin-left: 40px;
	font-size: 14px;
	padding: 8px 22px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.btn-top {
	margin: 40px 0 24px 0;
	padding: 12px 56px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.btnWrap {
	text-align: center;
}
.btnWrap div {
	font-size: 18px;
}
.btn-page {
	font-size: 24px;
	margin: 16px 0;
	padding: 16px 180px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.text-link {
	font-size: 14px;
	color: #E44C6F;
	text-decoration: underline;
}
.text-link:hover {
	text-decoration: none;
}
.gray-bottom {
	background: linear-gradient(to bottom, #fff 0%, #fff 50%, #F8F9F9 50%, #F8F9F9 100%);
	width: 100%;	
}
.gray-top {
	background: linear-gradient(to bottom, #F8F9F9 0%, #F8F9F9 50%, #fff 50%, #fff 100%);
	width: 100%;	
}

/** Typo **/
h1 {
	font-size: 68px;
	line-height: 130%;
	text-align: center;
}
h1 span br {
	display: none;
}
h2 {
	font-size: 48px;
	line-height: 140%;
}
.solution h2 {
	font-size: 36px;
	margin-bottom: 60px;
}
.solution-list h2, .top h2 span {
	font-size: 24px;
}
.enter-top h2 {
	font-size: 20px;
	line-height: 160%;
	text-align: left;
	margin-top: 24px;
}
.price h2, .introduction h2 {
	font-size: 24px;
	color: #E44C6F;
	margin-bottom: 24px;
	text-align: center;
}
.price h2 span, .introduction h2 span {
	font-size: 80px;
    padding-left: 24px;
    display: inline-block;
    line-height: 1;
}
h3 {
	font-size: 40px;
	line-height: 140%;
}
.solution-box h3 {
	font-size: 16px;
}
.performance-box h3, .intro h3 {
	font-size: 24px;
}
.function h3 {
	font-size: 16px;
	padding: 16px 16px 16px 24px;
}
h4 {
	font-size: 24px;
	line-height: 140%;
}
.heading p {
	font-size: 18px;
	text-align: center;
}

/** top **/
.top {
	margin: 0 auto;
}
.smb-top {
	text-align: center;
}
.smb-top .cover {
	margin: 0 auto;
	width: 100%;
	position: relative;
	z-index: 996;	
}
.cover-container {
	max-width: 1160px;
	margin: -80px auto -60px auto;
	position: relative;
	z-index: 997;
}
.smb-top .cover img {
	width: 100%;
}
.enter-top .container {
	padding-bottom: 0;
}
.enter-top .cover .container {
	padding: 0 0 0 80px;
	align-items: flex-start;
}
.enter-top .textBox {
	padding: 0;
	max-width: 240px;
	width: 100%;
}
.enter-top .screenBox {
	flex: 1;
}
.enter-top .screenBox img {
	margin-top: -120px;
}

/** solution **/
.solution {
	text-align: center;
}
.solution-list ul {
	margin: 0 auto;
	max-width: 960px;
	justify-content: space-around;
}
.solution-list li {
	padding: 40px 24px;
	max-width: 240px;
	width: 100%;
}
.solution-list li img {
	width: 80px;
}
.solution-list li h3 {
	font-size: 16px;
	padding-top: 24px;
}

/** service **/
.service .num {
	font-weight: 100;
	font-size: 72px;
	line-height: 1;
}

/** performance **/
.performance-box {
	max-width: 720px;
	margin: 0 auto;
}
.performance-box li {
	padding: 24px 0;
	border-bottom: 1px solid #E4E7EB;
}
.performance-box li:last-child {
	border-bottom: none;
}
.performance-box h3 {
	display: flex;
	justify-content: space-between;
}
.performance {
	color: #E44C6F;
}
.performance span {
	font-size: 56px;
}

/** worry **/
.voice {
	align-items: flex-start;
	margin-bottom: 16px;
	width: fit-content;
	max-width: 1160px;
}
.avatar {
	width: 48px;
	margin-right: 16px;
}
.avatar img {
	width: 100%;
}
.IcoSolution {
	margin-right: 16px;
}
.worry .client h3 {
	font-size: 20px;
	line-height: 160%;
	flex: 1;
	background: #354341;
	border-radius: 12px;
	color: #fff;
	padding: 14px 24px;
	display:inline-block;
	position:relative;
}
.talk h3:before { 
	content: '';
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	left: -9px;
	top: 12px;
	border-right: 9px solid #354341;
	border-top: 7px solid transparent;
	border-bottom: 9px solid transparent;
}
.kcom p {
	font-weight: normal;
	line-height: 160%;
	padding: 20px 24px;
	flex: 1;
	background: #fff;
	border-radius: 12px;
	border:1px solid #354341;
	display:inline-block;
	position:relative;
}
.kcom p:before { 
	content: '';
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	left: -9px;
	top: 12px;
	border-right: 9px solid #354341;
	border-top: 7px solid transparent;
	border-bottom: 9px solid transparent;
}
.kcom p::after{
	content: '';
  position: absolute;
  display: block;
  width: 0;
	height: 0;
	left: -8px;
	top: 12px;
	border-right: 9px solid #fff;
	border-top: 7px solid transparent;
	border-bottom: 9px solid transparent;
  }
.point {
	margin: 40px auto 24px auto;
	width: fit-content;
}


/** price **/
.price {
	max-width: 640px;
	margin: 0 auto;
	background: #fff;
}
.price section {
	text-align: center;
	margin-top: 40px;
}
.price section p {
	text-align: center;
}

/** intro **/
.intro {
	max-width: 1320px;
	margin: 0 auto;
}
.intro .container {
	padding: 40px 80px;
}
.intro .shadow-box {
	padding: 60px 30px;
	width: 70%;
	position: relative;
}
.intro .shadow-box .textBox {
	width: 70%;
	padding: 20px 30px;
}
.intro .left {
	margin: 0 auto 0 0;
}
.intro .left .screenBox {
	position: absolute;
	left: 70%;
	width: 80%;
	top: 50%;
	transform: translate(0, -45%);
	text-align: center;
}
.intro .left .screenBox p {
	display: inline-block;
	background: #354341;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	padding: 8px 24px;
	border-radius: 40px;
}
.intro .right {
	margin: 0 0 0 auto;
}
.intro .right .textBox {
	margin: 0 0 0 auto;
}
.intro .right .screenBox {
	position: absolute;
	right: 70%;
	width: 70%;
	top: 50%;
	transform: translate(0, -50%);
	text-align: center;
}
.intro .right .screenBox img {
	box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
.intro p {
	font-size: 14px;
	font-weight: normal;
	line-height: 180%;
}

/** recommend **/
.recommend .container {
	padding: 80px;
}
.main-carousel {
	padding: 40px;
	height: auto;
}
.carousel-cell {
	opacity: .7;
	padding: 20px;
	height: auto;
	margin-top: 24px;

}
.is-selected {
	opacity: unset;
	margin-top: 0;
	transform: none;
}
.carousel-cell .shadow-box {
	width: 380px;
	padding: 48px 32px 32px 32px;
	height: 100%;
	position: relative;
}
.carousel-cell .shadow-box .name {
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 8px;
}
.chargeAvatar {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}
.recommend h3 {
	display: inline-block;
	background: #354341;
	color: #fff;
	font-size: 16px;
	padding: 8px 24px;
	border-radius: 40px;
	margin-bottom: 24px;
}
.carousel-cell p {
	font-weight: normal;
	line-height: 160%;
}

/** function **/
.function {
	text-align: center;
}
.function ul {
	flex-wrap: wrap;
	align-items: flex-start;
	margin-left: -40px;
}
.function ul li {
	width: 20%;
	padding-left: 40px;	
	margin-top: 40px;
}
.function ul li div {
	padding: 16px;
	background: #F8F9F9;
	border-radius: 4px;
	width: 100%;
}
.function ul li div img {
	max-width: 64px;
	width: 100%;
}

/** introduction **/
.introduction {
	margin: 0 auto;
}
.introduction .container {
	width: fit-content;
	text-align: center;
}
.introduction p {
	text-align: left;
}

/** max-width: 1000px **/
@media (max-width: 1000px) {
	body {
		font-size: 15px;
	}
	.container {
		padding:  64px;
	}
	.scroll {
		width: 40px;
		left: 24px;
	}
	nav {
		padding: 16px 24px;
	}
	.textBox h3 br {
		display: none;
	}
	.round-bg {
		font-size: 20px;
		padding: 8px 80px;
	}
	.textBox {
		width: 50%;
	}

	/** typo **/
	h1 {
		font-size: 56px;
	}
	h2 {
		font-size: 40px;
	}
	.solution h2 {
		font-size: 32px;
		margin-bottom: 40px;
	}
	.solution-list h2, .top h2 span {
		font-size: 24px;
	}
	.enter-top h2 {
		font-size: 18px;
		max-width: 52%;
		padding-right: 24px;
	}
	.enter-top h2 br {
		display: none;
	}
	h3 {
		font-size: 32px;
	}
	.performance-box h3, .intro h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 20px;
	}

	/** top **/
	.cover-container {
		margin: -20px auto -60px auto;
	}
	.enter-top .screenBox img {
		padding-left: 24px;
	}

	/** intro **/
	.intro .shadow-box {
		padding: 20px;
	}
	.intro .shadow-box .textBox {
		padding: 20px;
	}
	.intro .right .textBox {
		margin: 0 0 0 auto;
		width: 80%;
	}
	.intro .right .screenBox {
		right: 80%;
	}

	/** solution **/
	.solution-list li img {
		width: 64px;
	}

	/** service **/
	.service .num {
		font-size: 64px;
	}

	/** worry **/
	.worry .client h3 {
		font-size: 18px;
	}

	/** recommend **/
	.recommend .container {
		padding: 80px 120px;
	}
}

/** max-width: 700px **/
@media (max-width: 700px) {
	p {
		font-size: 15px;
		font-weight: normal;
		line-height: 180%;
	}
	.enterpriseLink {
		display: none;
	}
	.container {
		padding:  64px 24px;
	}
	.arrow img {
		height: 80px;
	}
	.round-bg {
		font-size: 18px;
		padding: 12px 24px;
		border-radius: 18px;
		line-height: 160%;
		font-weight: 700;
	}
	.textBox {
		width: 100%;
		padding: 0 16px 16px 16px;
		order:1;
	}
	.screenBox {
		width: 100%;
		order:2;
	}
	.top-clear {
		padding-top: 0;
	}
	.text-link {
		font-weight: normal;
	}

	/** scroll **/
	.scroll {
		width: 10px;
		top: 80vh;
		left: 12px;
	}
	.scroll img {
		width: 10px;
	}

	/** header **/
	header img {
		width: 100px;
	}
	nav {
		padding: 16px;
	}
	nav li a {
		font-size: 12px;
	}
	h4 br {
		display: none;
	}
	span br {
		display: block;
	}

	/** footer **/
	footer ul {
		flex-direction: column;
		align-items: left;
	}
	footer li {
		margin-bottom: 16px;
	}
	footer p {
		text-align: center;
	}

	/** typo **/
	.smb-top h1 {
		font-size: 10vmin;
	}
	.enter-top h1 {
		font-size: 8vmin;
	}
	h1 span br {
		display: block;
	}
	h2 {
		font-size: 24px;
		text-align: left;
		padding: 0 16px;
	}
	h2 span br {
		display: none;
	}
	.enter-top h2 {
		font-size: 16px;
		max-width: 100%;
		padding: 0;
	}
	.solution h2 {
		font-size: 24px;
		margin-bottom: 32px;
	}
	.solution h2 span br {
		display: none;
	}
	.top h2 span {
		display: inline-block;
		font-size: 15px;
		line-height: 140%;
	}
	.solution-list h2 {
		font-size: 18px;
		text-align: center;
	}
	.price h2, .introduction h2 {
		font-size: 14px;
		padding: 0px;
	}
	.price h2 span, .introduction h2 span {
		font-size: 48px;
		padding-left: 8px;
	}
	h3 {
		font-size: 28px;
	}
	.textBox h3 {
		padding: 10px 0 16px 0;
	}
	.solution-list li h3 {
		padding: 0 0 0 16px;
	}
	.service h3 {
		text-align: center;
	}
	.performance-box h3 {
		font-size: 16px;
	}
	.intro h3 {
		font-size: 20px;
	}
	.function h3 {
		font-size: 14px;
	}
	h4 {
		font-size: 18px;
	}
	.heading p {
		font-size: 14px;
		text-align: left;
		padding-left: 16px;
	}

	/** btn **/
	.btn-head {
		margin-left: 8px;
		font-size: 12px;
		padding: 8px 16px;
	}
	.btnWrap div {
		font-size: 14px;
		text-align: center;
	}
	.btn-page {
		font-size: 18px;
		padding: 12px 48px;
	}

	/** top **/
	.smb-top .cover {
		margin: 0 auto 40px 0;	
	}
	.cover-container {
		position: relative;	
		margin: -40px auto -60px auto;
	}
	.smb-top .cover img {
		width: 600px;
		position: relative;
		left: -40px;
	}
	.enter-top .cover .container {
		flex-direction: column;
	}
	.enter-top .cover .container {
		padding: 0;
		align-items: unset;
	}
	.enter-top .textBox {
		padding: 0;
		max-width: unset;
		width: 100%;
		text-align: center;
	}
	.enter-top .screenBox {
		flex: 1;
		position: relative;
	}
	.enter-top .screenBox img {
		margin-top: 0;
		padding-left: 0;
		position: relative;
		left: -30px;
		width: 150%;
	}

    
	/** solution **/
	.solution-list ul {
		flex-direction: column;
	}
	.solution-list ul li {
		max-width: 320px;
		padding: 16px 32px;
		margin-bottom: 24px;
	}
	.solution-list li div {
		display: flex;
		align-items: center;
	}
	.solution-list li img {
		width: 48px;
	}
	.IcoSolution {
		margin-right: 10px;
	}

	/** service **/
	.service .container {
		flex-direction: column;
	}
	.service .num {
		font-size: 56px;
		text-align: center;
	}

	/** worry **/
	.avatar {
		width: 32px;
	}
	.worry .client h3 {
		font-size: 16px;
		padding: 12px 20px;
	}
	.kcom p {
		padding: 12px 20px;
	}
	.IcoSolution {
		width: 40px;
	}
	.IcoSolution img {
		width: 40px;
	}
	.worry .answer {
		flex-direction: column;
	}

	/** performance **/
	.performance-box li {
		padding: 16px;
	}
	.performance-box h3 {
		align-items: center;
	}
	.performance {
		width: 100%;
		text-align: end;
		padding-left: 14px;
		line-height: 1;
	}
	.performance span {
		font-size: 32px;
	}

	/** price **/
	.price {
		width: 80%;
	}
	.price-notes {
		font-size: 14px;
		font-weight: 700;
		line-height: 140%;
	}

	/** intro **/
	.intro .flex {
		flex-direction: column;
	}
	.intro .container {
		padding: 40px 16px;
	}
	.intro .shadow-box {
		padding: 24px;
		width: 100%;
	}
	.intro .shadow-box .textBox {
		width: 100%;
		padding: 0;
	}
	.intro .left {
		margin: 0;
	}
	.intro .left .screenBox {
		position: unset;
		text-align: center;
		top: unset;
		left: unset;
		transform: none;
		width: 100%;
	}
	.intro .left .screenBox p {
		display: inline-block;
		background: #354341;
		color: #fff;
		font-size: 12px;
		font-weight: 700;
		padding: 8px 20px;
		border-radius: 40px;
	}
	.intro .right {
		margin: 0;
	}
	.intro .right .textBox {
		margin: 0;
	}
	.intro .right .screenBox {
		position: unset;
		text-align: center;
		top: unset;
		left: unset;
		transform: none;
		width: 100%;
	}

	/** recommend **/
	.flickity-viewport {
		overflow: visible;
	}
	.recommend .heading {
		padding: 64px 24px;
	}
	.flickity-button {
		display: none;
	}
	.carousel-cell .shadow-box {
		width: 380px;
		padding: 48px 15% 32px 15%;
		height: 100%;
		position: relative;
	}

	/** feature **/
	.feature .flex {
		flex-direction: column;
	}

	/** function **/
	.function ul {
		margin-left: -24px;
	}
	.function ul li {
		width: 50%;
		padding-left: 24px;	
		margin-top: 24px;
	}
	.function ul li div {
		padding: 16px;
	}
	.function ul li div img {
		max-width: 56px;
	}
}

iframe .exportFormCard {
	background: #354341;
}

/** about **/
#about {
	background: #f8f9f9;
	padding: 80px 5% 80px;
	font-weight: normal;
}
#about .container {
	max-width: 1160px;
	padding: 80px 5%;
}
#about h1 {
	font-size: 32px;
	margin-bottom: 30px;
}
#about h2 {
	font-size: 24px;
	margin: 40px 0 12px 0;
}
#about h3 {
	font-size: 16px;
	margin: 16px 0 12px 0;
}
