@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1qmrjp');
  src:  url('fonts/icomoon.eot?1qmrjp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1qmrjp') format('truetype'),
    url('fonts/icomoon.woff?1qmrjp') format('woff'),
    url('fonts/icomoon.svg?1qmrjp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-AccordionDown:before {
  content: "\e90d";
}
.icon-AccordionUp:before {
  content: "\e90e";
}
.icon-Attracting:before {
  content: "\e900";
}
.icon-Crossing:before {
  content: "\e901";
}
.icon-Cycle:before {
  content: "\e902";
}
.icon-Edit:before {
  content: "\e903";
}
.icon-Feedback:before {
  content: "\e904";
}
.icon-Graph:before {
  content: "\e905";
}
.icon-List:before {
  content: "\e906";
}
.icon-Pop:before {
  content: "\e907";
}
.icon-Questionnaire:before {
  content: "\e908";
}
.icon-Reply:before {
  content: "\e909";
}
.icon-Review:before {
  content: "\e90a";
}
.icon-Sns:before {
  content: "\e90b";
}
.icon-Staff:before {
  content: "\e90c";
}
