
@media screen and (max-width:1024px){
 html{
   line-height: 1.6;
 }

.inner{
  padding:0 4%;
}
#keyvisual .inner{
  padding:0;
}
/*/////////////////////////////*/

ul.data{
  font-size:1.7rem;
}
  /*//////// 1024 ///////////*/
}

@media screen and (max-width:769px){
  .sp{
    display: block;
  }
  .pc{
    display: none;
  }
  .brsp{
    display: inline;
  }
  .visible768{
    display: block;
  }
  .hidden768{
    display: none;
  }

  /*//////////////////////////*/
  .content{
    margin:2rem 0;
    padding:2rem 0 3rem;
    overflow: hidden;
  }
  .fukidashi{
    font-size:1.5rem;
  }
  .fukidashi:after{
    top:40%;
  }
  .title h3{
    font-size:2rem;
  }
  .title.hane{
    margin-bottom: 2rem;
  }
  #topBtnarea, #btmBtnarea {
    max-width: 90%;
  }
  #topBtnarea a.mainbtn, #btmBtnarea a.mainbtn{
    font-size:1.8rem;
  }
  #topBtnarea.Btnarea .floatTit, #btmBtnarea.Btnarea .floatTit{
    padding: 12px 32px;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  #topBtnarea.Btnarea .bookletCopy, #btmBtnarea.Btnarea .bookletCopy {
    font-size: 24px;
    line-height: 1.5;
  }
  #topBtnarea.Btnarea .bookletSub, #btmBtnarea.Btnarea .bookletSub {
    font-size: 14px;
  }
  #topBtnarea.Btnarea .booklet, #btmBtnarea.Btnarea .booklet {
    width: 80%;
  }
  #topBtnarea.Btnarea .bookletCopy, #btmBtnarea.Btnarea .bookletCopy {
    padding: 0;
    font-size: 20px;
  }
  #topBtnarea.Btnarea .bookletCopy br, #btmBtnarea.Btnarea .bookletCopy br {
    display: none;
  }
  #topBtnarea.Btnarea .bookletSub, #btmBtnarea.Btnarea .bookletSub {
    text-align: left;
  }



  #shop p{
    font-size:1.6rem;
  }
  #shop ul li{
    margin:1rem;
  }
  #area01 .illustarea{
    position: static;
    float: right;
    max-width: 30%;
    padding:0;
  }
  #area01 .fukidashi{
    margin-top:10%;
    margin-right:34%;
  }
  #area01 .textarea:after{
    content:"";
    display: block;
    height: 1;
    clear:both;
  }
  ul.review{
    padding:0;
    max-width: 90%;
    margin:auto;
  }

  #area04 .textarea .fukidashi{
    padding:1.5rem;
  }
  ul.data{
    font-size:1.3rem;
  }
  ul.merite li{
    padding:0rem .5rem;
  }
  ul.merite li dl dt{
    font-size:1.2rem;
  }
  #end .price{
    font-size:3rem;
  }
  /*//////// 769 ///////////*/
}
@media screen and (max-width:640px){

  .visible640{
    display: block;
  }
  .hidden640{
    display: none;
  }
  /*////////////////////////////*/
  .accent{
    font-size:1.1em;
  }
  a.mainbtn:after{
    font-size:5vw;
  }
  a.mainbtn{
    padding:5vw;
  }

  #topBtnarea a.mainbtn .pricearea .price{
    margin:0;
  }
  #topBtnarea.Btnarea .floatTit, #btmBtnarea.Btnarea .floatTit{
    padding: 8px 24px;
    font-size: 18px;
  }
  #topBtnarea.Btnarea .bookletarea, #btmBtnarea.Btnarea .bookletarea {
    flex-direction: column;
    padding-bottom: 8px;
  }

  ul.merite li{
    width:50%;
    padding:0 1.5rem;
  }
  #area04 .illustarea{
    width:35%;
  }
  #area04 .textarea{
    width:65%;
  }
  ul.data li{
    display: block;
    }
  ul.data li .ti{
    width:100%;
  }
  ul.data li .value{
    width:100%;
    text-align: right;
    font-size:1.2em;
  }
  ul.qa_list li dl dt{
    font-size:1.15rem;
  }
  ul.qa_list li dl dd p{
    font-size:1rem;
  }
  #end .price{
    font-size:7vw;
  }
  /*//////// 640 ///////////*/
}

@media screen and (max-width:480px){
  .font20{
    font-size:1.2rem;
  }
  .font24{
    font-size:1.3rem;
  }
  .font28{
    font-size:1.43rem;
  }
  .font30{
    font-size:1.48rem;
  }
  .googlemap{
    padding-top:110%;
  }
  .visible480{
    display: block;
  }
  .hidden480{
    display: none;
  }
  /*///////////////////////////*/
  html{
    font-size:13px;
  }
  .fukidashi{
    font-size:1.2rem;
    padding:1em;
  }
  .fukidashi:after{
    background-size: contain;
  }
  .title h3{
    font-size:6vw;
  }
  .title.hane.hane2 h3{
    font-size:1.5rem;
  }
  #topBtnarea{
    max-width:100%;
  }
  #topBtnarea a.mainbtn .ti{
    font-size:1.2em;
  }
  #topBtnarea a.mainbtn .yellow{
    display: block;
  }
  #topBtnarea a.mainbtn .pricearea {
    font-size:1em;
  }
  #topBtnarea a.mainbtn .pricearea .price{
    font-size:1.6em;
  }
  #topBtnarea a.mainbtn .maru{
    font-size:1.2rem;
  }
  #area01 .fukidashi .uline{
    font-size:1.2em;
  }
  ul.review li p{
    font-size:1.1rem;
  }
  ul.review li p .accent{
    display: inline-block;
  }
  #plan ul.tab li{
    font-size:1.15rem;
    padding:.8em;
    width:50%;
  }
  #plan table{
    font-size:0.9rem;
    width:100%;
  }
  #plan table th,
  #plan table td{

  }
  #plan table tr.price th,
  #plan table tr.price td{
    font-size:1.05rem;
  }
  #mall .en{
    font-size:1.7em;
  }
  #shop ul{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
  }
  #shop ul li{
    margin:0;
    padding:.5rem 0;
    width:40%;
    text-align: center;
  }
  #area01 .fukidashi:after{
    width:40px;
  }
  #area02 .flex{
    display: block;
    align-items: center;
  }
  #area02 .illustarea{
    width:40%;
    margin:auto;
    padding:0;
  }
  #area02 .textarea{
    width:100%;
  }
  #area02 .textarea p{
    font-size:1rem;
  }
  #area03 .imagearea{
    padding-top:95%;
  }
  #area03 .imagearea img.ps01{
    top:0;
    left:50%;
    width:50%;
    transform: translateX(-50%);
  }
  #area03 .imagearea img.ps02{
    width:100%;
  }
  #area04 .flex{
  flex-wrap: wrap;
  }
  #area04 .illustarea{
    width:40%;
    margin:1rem auto;
    order:1;
  }
  #area04 .textarea{
    width:100%;
    order:2;
  }
  #area04 .fukidashi:after{
    top:-40px;
    left:25%;
    transform: rotate(-90deg);
  }
  ul.merite li{
    width:100%;
    margin:1rem 0;
  }
  ul.merite li .thumb{
    width:80%;
    margin:auto;
  }
  ul.merite li dl dt{
    font-size:1.4rem;
  }
  #btmBtnarea a.mainbtn p{
    margin-top:1em;
    font-size:.7em;
  }


  /*//////// 480 ///////////*/
}
